<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
  <div class="logo-container">
    <img src="/images/romolayte-logo.webp" alt="Romolayte Logo" class="logo">
    <h1 class="site-title">Romolayte</h1>
  </div>

  <!-- Navigation + hamburger à droite --> 
   <div class="menu-container">
    <nav class="navbar" id="navbar">
       <div class="menu-item" data-link="/">Accueil</div>
        <div class="menu-item" data-link="/categories">Catégories</div> 
      <div class="menu-item" data-link="/services">Services</div>
      <div class="menu-item" data-link="#/login"> Connexion</div>
     </nav>
    <div class="hamburger" id="hamburger"> 
    <span></span> 
    <span></span>
   <span></span> 
  </div> 
</div> 
</header>